asyncio==3.4.3
beautifulsoup4==4.12.2
cchardet==2.1.7
chardet==5.1.0
charset-normalizer==3.1.0
Chroma==0.2.0
chromadb==0.3.21
DateTime==5.1
decorator==4.4.2
duckdb==0.7.1
fastapi==0.95.0
huggingface==0.0.1
huggingface-hub==0.13.4
imageio==2.27.0
imageio-ffmpeg==0.4.8
joblib==1.2.0
langchain==0.0.135
moviepy==1.0.3
nltk==3.8.1
numpy==1.24.2
openai==0.27.4
openapi-schema-pydantic==1.2.4
pandas==2.0.0
Pillow==9.4.0
pydantic==1.10.7
python-dotenv==1.0.0
python-multipart==0.0.6
regex==2023.3.23
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.98
tiktoken==0.3.3
tokenizers==0.13.3
torch==2.0.0
torchaudio==2.0.0
torchvision==0.15.0
tqdm==4.65.0
transformers==4.27.4
uvicorn==0.21.1
wikipedia==1.4.0
