@tailwind base;
@tailwind components;
@tailwind utilities;

.back {
  background-image: url("assets/image.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.chat {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(100% - 60px); /* Subtract the height of the navbar */
  z-index: 0;
  overflow: hidden;
}

body {
  padding-bottom: 60px; /* Add some padding to create space for the chat component */
}

.aa::-webkit-scrollbar {
  width: 0;
  display: none; /* invisible */
}

.aa::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the scrollbar track */
}

.aa::-webkit-scrollbar-thumb {
  background-color: red; /* Set the color of the scrollbar thumb */
}
